.episode-fetch-dark {
  height:100vh; 
  background-color:  rgb(29, 30, 31);
  padding-top: 100px;
  display:block;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:25px;
}

.mybutton-dark{
  margin-top:75px;
  margin-bottom:75px;
  
  position: static;
  height: 35px;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid gray;
  color:yellow;
  background-color: #4BD5EE;
  text-align: center;
  display: block;
     
  cursor: pointer;
  font-weight:bold;


}
  