.episode-display-single-dark {
  padding:40px;
  padding-top:75px;
  position:auto;    
  width: 100%;
  display:flex;
  flex-wrap:wrap;
  height: 100%;   
  background-color:black; 
  
  h1{
    margin-top:150px;
    font-family: 'STARWARS';
    height:30px;
    align-self:top;
    position: relative;
    color: yellow;
    font-size:26px;
    text-align: center;
    
  }
  h2{
    font-family: 'STARWARS';
    color: rgb(37, 206, 228);
    height:30px;
    align-self:top;
    position: relative;
    color: white(80, 93, 95);
    font-size:22px;
    text-align: center;
    
  }

  .background-image {
    
    
    
    height: 60vh;
      
    background-repeat: no-repeat;
    background-size: cover;
       
   
  }

  .content {
   margin-top:25px;
   padding:10px; 
   background-color: rgb(66, 64, 64);
   color:white;     
   font-weight:bold;
   .span-title{
    color:rgb(94, 204, 238);
   }

   .span-text{
    color:yellow;
   }
    
  }
}
