
  .characters-page-light {
    background-color:  rgb(243, 237, 237);
    padding: 25px;
    padding-top: 75px;
    width: 100%;
    height: 100%;
    position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  
  .mybutton-dark{
      margin-top:75px;
      margin-bottom:75px;
      
      position: static;
      height: 35px;
      border-radius: 8px 8px 8px 8px;
      border: 1px solid gray;
      color:rgb(121, 195, 218);
      background-color: #4BD5EE;
      text-align: center;
      display: block;
         
      cursor: pointer;
      font-weight:bold;
  
  
  }