
  .characters-menu-light {
    background-color:  #E8EAED;
    padding: 25px;
    padding-top: 75px;
    height:100vw;
    align-self: center;    
    justify-content: space-between;    
    
    
  }
  .mybutton-light{
      
      align-self: auto;
      margin-top:75px;
      margin-bottom:75px;
      height: 35px;
      width: 110px;
      border-radius: 8px 8px 8px 8px;
      border: 1px solid gray;
      color:yellow;
      background-color: black;
      text-align: center;
      cursor: pointer;
      font-weight:bold;
  
  
  }