.starship-display-single-light {
    padding:45px;
    
    min-width:500px;
    position:auto;    
    width: 40vw;
    height: 100%;   
    background-color:white; 
    
    h1{
      position: relative;
      color: #4BD5EE;
      font-size:20px;
      text-align: center;
      
    }
  
    .background-image {
      
      padding:25px;
      position: center;
      height: 70%;
      width:90%;     
      background-repeat: no-repeat;
      background-size: 400px 400px;      
     
    }
  
    .content {
     width:90%;    
     color:black;     
      
    }
  }
  