.starship-display-single-light {
    
    
    min-width:500px;
    position:auto;    
    width: 40vw;
    height: 100%;     
    background-color:white; 
    
    h1{
      position: relative;
      color: #4BD5EE;
      font-size:20px;
      text-align: center;
      
    }
  
    .background-image {
      
      padding:15px;
      position: center;
      height: 50%;
      width:90%;     
      background-repeat: no-repeat;
      background-size: 500px 400px;      
     
    }
  
    .content {
      padding-left:10px; 
     width:400px;    
     color:black;     
     .span-title{
      color: black;
     }
  
     .span-text{
      color:rgb(94, 204, 238);
     }
    }
  }
  