
    .LoginDark {
        min-height: 360px;
        font-family: 'Galaxy'; 
        width: 60%;
        height:70%;
        justify-content: space-between;
        border: 3px solid rgb(26, 29, 22);
        margin: auto;
        text-align: center;
        font-size: 23px;
        color:yellow;
        background-color:  #000;
        display: block;
        border-radius: 12px 12px 12px 12px;
        @media (max-width: 700px) {
          .row, .navbar {   
            flex-direction: column;
          }
        }

       .button{
        color: #FFE300;
        background-color: #4BD5EE;
        border-radius: 5px 5px 5px 5px;
        font-size:16px;

       }

        .form {
           
            border: 3px solid  #3C4858;
            margin: auto;
            margin-top: 30px;
            height: 90%;
            width: 80%;
            padding: 25px;
            justify-content: space-between;
            background-color:#333;
            font-size: 13px;
            border-radius: 12px 12px 12px 12px;
            
          }

          .formgroup {
            margin: auto;
            height: 80%;
            width: 80%;
            padding: 25px;
            
          
          }



          
          
          
    }
   
    