.menu-item-characters-dark {

  border-radius: 8px 8px 8px 8px;
  min-width: 25%;  
  width:auto;  
  height: 100px;
  font-family: 'STARWARS';

  border: 1px solid black;
  border-color:rgb(185, 181, 181);
  margin: 0 7.5px 15px;
  background-color:gray;
  
  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.0);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      opacity: 0.9;
      
    }
  }

  

  .background-image {
    position: relative;
    height: 100%;
    width:30%;
    background-size: cover;
    border-radius: 8px 0px 0px 8px;
   border-width: thick ;
  }

  .content {
    padding-top:30px;
    display:flex;
    flex-flow: column;
   color:white;
    h1{
      position: relative;
      color: #FFE300;
      font-size:20px;
      text-align: center;
      height:100%;
    }
   
    position: relative;
    top: -106%;
    left:30%;    
    width:70%;
    
    
  }
}
