.menu-item-dark {

  border-radius: 8px 8px 8px 8px;
  min-width: 25%;
  
  margin-top: 40px;
  height: auto;
  min-height:600px;
  
  justify-content: center;
  border: 1px solid gray;
  margin: 0 7.5px 15px;
  background-color: #333;


  

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.0);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      opacity: 0.9;
      
    }
  }

  

  .background-image {
    width: 100%;
    height: 350px;
    background-size: cover;
    border-radius: 8px 8px 0px 0px;
    border-width: thick ;
  }

  .content {
    text-align:justify;
    padding:5px;
    display:flex;
    flex-flow:column;
   color:white;
   //font-size: 1vw;
   font-size: 15px;
    h1{
      font-family: 'STARWARS';
      align-self: center;
      color: yellow;
      font-size:18px;
      
    }
    
    
    position: relative;
    width: 100%;
    height: 40%;
    background-size: cover;
    background-position: center;

    
  }
}

