.character-display-single-dark {
  padding-left:55px;
  
  position:auto;    
  width: 520px;
  height: 500px;   
  background-color:rgb(85, 79, 79); 
  border:solid white;
  
  border-radius: 10px 10px 10px 10px;
  
  h1{
    font-family: 'STARWARS';
    position: relative;
    color: rgb(220, 235, 20);
    font-size:20px;
    text-align: center;
    
  }

  .background-image {
    
    
    position: center;
    height: 60%;
    width:90%;     
    background-repeat: no-repeat;
    background-size: 400px 400px;      
   
  }

  .content {
   width:90%;    
   color:white;     

   .span-title{
    color:rgb(94, 204, 238);
   }

   .span-text{
    color:yellow;
   }
    
  }
}
