.character-display-single-light {
    padding-left:55px;
    
   
    position:auto;    
    width: 520px;
    height: 680px;   
    background-color:white; 
    border:solid;
    border-radius: 10px 10px 10px 10px;
    
    h1{
      position: relative;
      color: #4BD5EE;
      font-size:20px;
      text-align: center;
      
    }
  
    .background-image {
      
      
      position: center;
      height: 60%;
      width:90%;     
      background-repeat: no-repeat;
      background-size: 400px 400px;      
     
    }
  
    .content {
     width:90%;    
     color:black;     
      
    }
  }
  