.characters-light {
    
    padding:25px;
    height:100vh; 
    background-color:  gray;
    padding-top: 75px;
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  
  .p-title{
    padding-top:25px;
    margin-left:12vw;
    font-size: 15;
    font-family: 'STARWARS';
    font-style: oblique;
    color:rgb(95, 87, 87);
  }
  
  .mybutton-light{
        
    align-self: auto;
    margin-top:75px;
    margin-bottom:75px;
    height: 35px;
    width: 110px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid gray;
    color:yellow;
    background-color: black;
    text-align: center;
    cursor: pointer;
    font-weight:bold;
  
  
  }

}